default:
    suites:
        task_management:
            paths:
                - '%paths.base%/features/task_management'
            contexts:
                - App\Tests\Acceptance\Context\TaskManagementContext
                - App\Tests\Acceptance\Context\BonusPointsContext
                - App\Tests\Acceptance\Context\StatusChangeRulesContext
        
        user_management:
            paths:
                - '%paths.base%/features/user_management'
            contexts:
                - App\Tests\Acceptance\Context\UserRegistrationContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
                environment: test
                debug: true

    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false
